<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static './pages/form.css' %}">
</head>
<body class="body">
<header class="header">
    {% include 'includes/nav_not_auth.html' %} 
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="form__group">
                <label for= '{{ form.first_name.id_for_label }}' class="form__label">{{ form.first_name.label }}</label>
                <div class="form__field-group">
                    <input type= "text" name='{{ form.first_name.html_name }}' id='{{ form.first_name.id_for_label }}' class="form__input" >
                    <span class="form__error">{{ form.first_name.errors }}</span>
                </div>
            </div>  

            <div class="form__group">
                <label for= '{{ form.username.id_for_label }}' class="form__label">{{ form.username.label }}</label>
                <div class="form__field-group">
                    <input type= "text" name='{{ form.username.html_name }}' id='{{ form.username.id_for_label }}' class="form__input" >
                    <span class="form__error">{{ form.username.errors }}</span>
                </div>
            </div> 
            <div class="form__group">
                <label for= '{{ form.email.id_for_label }}' class="form__label">{{ form.email.label }}</label>
                <div class="form__field-group">
                    <input type= "text" name='{{ form.email.html_name }}' id='{{ form.email.id_for_label }}' class="form__input" >
                    <span class="form__error">{{ form.email.errors }}</span>
                </div>
            </div> 
            <div class="form__group">
                <label for= '{{ form.password1.id_for_label }}' class="form__label">{{ form.password1.label }}</label>
                <div class="form__field-group">
                    <input type= "password" name='{{ form.password1.html_name }}' id='{{ form.password1.id_for_label }}' class="form__input" >
                    <span class="form__error">{{ form.password1.errors }}</span>
                </div>
            </div> 
            <div class="form__group">
                <label for= '{{ form.password2.id_for_label }}' class="form__label">{{ form.password2.label }}</label>
                <div class="form__field-group">
                    <input type= "password" name='{{ form.password2.html_name }}' id='{{ form.password2.id_for_label }}' class="form__input" >
                    <span class="form__error">{{ form.password2.errors }}</span>
                </div>
            </div> 
        
           
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>


</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
