{% load static %}
<div class="card" data-id="{{recipe.id}}">
    <a href="{% url 'recipe' recipe_id=recipe.id %}" class="link" target="_blank"><img src="{{ STATIC_URL }}/{{ recipe.image }}" alt="{{ recipe.title }}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe_id=recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                {% if tag.title == 'Обед' %}
                    <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                {% elif tag.title == 'Завтрак' %}
                    <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                {% elif tag.title == 'Ужин' %}
                    <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.preparing_time }} мин. </p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'authors_recipes' author=recipe.author %}" style="color: black"> {{ recipe.author }} </a></p>
        </div>
    </div>
    <div class="card__footer">
    {% if user.is_authenticated %}
        {% if recipe not in request.user.shoplist.recipes.all %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% else %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
        {% endif %}
    {% endif %}
        
    </div>
</div>      