<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
</head>
<body class="body">
<header class="header">
    {% include 'includes/nav_auth.html' %}
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">

        {% for authorpage in page %}
        
        <div class="card-user" data-author="{{ authorpage }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ authorpage }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in authorpage.recipes.all|slice:'0:3' %}
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="{{ STATIC_URL }}/{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe__image">
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span>{{ recipe.preparing_time }} мин. </p>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="card-user__item">
                    {% if authorpage.recipes.all.count|add:-3 > 0 %}    
                        {% if authorpage.recipes.all.count|add:-3 == 1 %}
                            <a href="{% url 'authors_recipes' author=authorpage %} " class="card-user__link link">Еще {{ authorpage.recipes.all.count| add:-3 }} рецепт...</a>
                        {% elif 1 < authorpage.recipes.all.count|add:-3 < 5 %}
                            <a href="#" class="card-user__link link">Еще {{ authorpage.recipes.all.count| add:-3 }} рецепта...</a>
                        {% else %}
                            <a href="#" class="card-user__link link">Еще {{ authorpage.recipes.all.count| add:-3 }} рецептов...</a>
                        {% endif %}
                    {% endif %}
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' %}
    {% endif %}
</main>
{% include 'includes/footer.html' %}
<script src="./js/config/config.js"></script>
<script src="./js/components/MainCards.js"></script>
<script src="./js/components/MyFollow.js"></script>
<script src="./js/components/Subscribe.js"></script>
<script src="./js/components/Header.js"></script>
<script src="./js/api/Api.js"></script>
<script src="myFollow.js"></script>

</body>
</html>
