<!doctype html>
<html lang="en">
    {% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static './pages/shopList.css' %}">
    <link rel="stylesheet" href="{% static './pages/single.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        {% include 'includes/nav_auth.html' %}
    </nav>
</header>
<main class="main container">
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    {% if shop_list.recipes.all.count == 0 %}
    <div class="single-card__info">
        <div class="single-card__section">
        <h3 class="single-card__section-title">Ваш список покупок пока пуст</h3>
    </div>
    {% endif %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in shop_list.recipes.all %}
            <li class="shopping-list__item" data-id="{{recipe.id}}">
                <div class="recipe recipe_reverse">
                    <img src="{{ STATIC_URL }}/{{recipe.image}}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.preparing_time }} мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        {% if shop_list.recipes.all.count > 0 %}
            <a href="{% url 'download_shop_list' %}"><button class="button button_style_blue">Скачать список</button></a>      
        {% endif %}
    </div>
    
</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/components/ShopList.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
</body>
</html>
